body {
    color: black;
    font-family: Calibri;
}

table {
    margin: 0%;
    text-align: left;
    
    }

button{  
  position: fixed; 
}

.side-content {
    position: fixed;   
    background-color: #c8111e;
    text-align:center;
    padding:0px;
    width:23%;
    height:100%;
    left:0;
    top:0;
    overflow: hidden;
}

.menu{
  width:23%;
  height:0px;
  background-color: #c8111e;
  position:fixed;
  left:0;
  margin-top: 0%;
  border: none;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}

.menu.is-visible{
  width:23%;
  height: 100%;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

#menu-button {
  background: none;
  border: 0px;
  padding: 10px;
  color: white;
  font-family: Calibri;
  width: 50%;
  left:0%;
  top:10%;
}

#form1 {
     margin-left: 24%;
     margin-top: 2%;
}

#btnUnosDvorane, #btnObrisi, #btnAzuriraj, #btnAzurirajKorisnik {
    background: #c8111e;
    border: 0px;
    border-bottom: 1px #3a0407; 
    padding: 5px;
    color: white;
    font-family: Calibri;      
}

#btnProf, #btnRez, #btnLogOut, #btnPoc, #reportPanel {
    background: #7d060e;
    border: 0px;
    border-bottom: 1px #3a0407; 
    padding: 10px;
    color: white;
    font-family: Calibri;   
    width:100%;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

#btnPoc:hover, #btnRez:hover, #btnLogOut:hover, #btnProf:hover, #reportPanel:hover {
    background: #fff5a4;    
    color: #7d060e;  
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out; 
}

#btnLogOut {
    background-color: #9f0b15;
    border-bottom: 1px #7d060e;
}

h1 {
    font-family: Calibri;
    font-style: italic;
    font-size: 40px;
    color: #c8111e;
    font-weight: lighter;
}

h2 {
    font-family: Calibri;
    color: #7d060e;
    margin: 0%;
    font-weight: lighter;
    font-size: 20px;
}

h3 {
   color: #c8111e;
   font-size: 15px;
   font-family: Calibri;
   font-weight: normal; 
}

#ddDvorane, #azuriranjeDvorane, #ddKorisnici {
    border: 0px;
    -webkit-box-shadow: inset 0 0 5px #808080;
    -webkit-border-radius: 2px;
    -moz-box-shadow: inset 0 0 5px #808080;
    -moz-border-radius: 2px;
    box-shadow: inset 0 0 5px #808080;
    border-radius: 2px;
    padding: 5px;
}

#tbxNaziv, #tbxLok, #TbxAddr, #azurNaziv, #azurLok, #azurAddr, #imeTbx, #kImeTbx, #prezimeTbx, #mailTbx, #telTbx, #ttlTbx {
    border: 0px;
    -webkit-box-shadow: inset 0 0 5px #808080;
    -webkit-border-radius: 2px;
    -moz-box-shadow: inset 0 0 5px #808080;
    -moz-border-radius: 2px;
    box-shadow: inset 0 0 5px #808080;
    border-radius: 2px;
    padding: 5px;
}


#hall-add, #hall-del, #hall-upd, #val-summ, #val-summ2 {
    width: 50%;
    padding: 10px;
}

#hall-upd, #val-summ, #val-summ2 {
    float:right;
}

#hall-area, #user-area {
    background-color:  #fffdf3;
}

th {
    text-align:left;
}

#user-edit {
    width: 50%;
    padding: 10px;
}
