body {
    margin-top: 0%;
}

li{
  letter-spacing:2px;
 
}

button{  
  position: fixed;
  bottom:0%;  
}

h1 {
    font-family: Calibri;
    font-style: italic;
    font-size: 40px;
    color: #c8111e;
    font-weight: lighter;
}

h2 {
    font-family: Calibri;
    color: white;
    font-weight: lighter;
    text-align:center;
    font-size: 20px;
}

td {
    background-color:none;
    text-align: left;
    font-family: Calibri;
    font-size: 14px;
    color: #ab9600;
}

#tblEvents, th {
    padding: 2px;
    text-align: left;
    font-family: Calibri;
    color: #c8111e;
    font-size: 14px;
}

*{
   list-style:none;
   text-decoration:none;
}

.side-content {
    position: fixed;   
    background-color: #c8111e;
    text-align:center;
    padding:3px;
    width:345px;
    height:100%;
    left:0;
    top:0;
    overflow: hidden;
}

.menu{
  width:0px;
  height:100%;
  background-color: #c8111e;
  position:fixed;
  left:0;
  margin-top: 25%;
  border: none;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
}

.menu.is-visible{
  width:350px;
  -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

#menu-button {
  background: #c8111e;
  border: 0px;
  padding: 10px;
  color: white;
  font-family: Calibri;
  width: 10%;
  right:0%;
}

#btnProf, #btnRez, #btnLogOut, #adminPanel, #reportPanel {
    background: #7d060e;
    border: 0px;
    padding: 10px;
    color: white;
    font-family: Calibri;   
    width:100%;
}

#btnPotvrdi, #btnOdbij {
    background: #c8111e;
    border: 0px;
    padding: 5px;
    color: white;
    font-family: Calibri;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#form1 {
     margin-left: 25%;
}

#notificationArea{   
     padding: 5px;
     background-color: #fffdf3;     
}

#resNotifications{
     background-color: #fffdf3;     
}

#loginInfo {
    top: 0%;
    margin-top: 20%;
    color: white;
    font-family: Calibri;
}

#lblInfo {
    font-family: Calibri;
    color: #c8111e;
}








