*{
   list-style:none;
   text-decoration:none;
}

li{
  letter-spacing:2px;
  padding:2px 2px;
}
.menu{
  width:0px;
  height:100%;
  background-color:#ccc;
  position:fixed;
  left:0;
  border: none;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
}

.menu.is-visible{
  width:350px;
  -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

button{
  position:absolute;
  bottom:0%;
  right:0%;
}