body {
    margin-top: 0%;    
}

li{
  letter-spacing:2px;
 
}

button{  
  position: fixed; 
}

h1 {
    font-family: Calibri;
    font-style: italic;
    font-size: 40px;
    color: #c8111e;
    font-weight: lighter;
}

h2 {
    font-family: Calibri;
    color: white;
    font-weight: lighter;
    text-align:center;
    font-size: 20px;
}

td {
    background-color:none;
    text-align: left;
    font-family: Calibri;
    font-size: 14px;
    color: #ab9600;
}

#tblEvents, th {
    padding: 2px;
    text-align: left;
    font-family: Calibri;
    color: #c8111e;
    font-size: 14px;
}

*{
   list-style:none;
   text-decoration:none;
}

.side-content {
    position: fixed;   
    background-color: #c8111e;
    text-align:center;
    padding:0px;
    width:23%;
    height:100%;
    left:0;
    top:0;
    overflow: hidden;
}

.menu{
  width:23%;
  height:0px;
  background-color: #c8111e;
  position:fixed;
  left:0;
  margin-top: 3%;
  border: none;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}

.menu.is-visible{
  width:23%;
  height: 100%;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

#menu-button {
  background: none;
  border: 0px;
  padding: 10px;
  color: white;
  font-family: Calibri;
  width: 10%;
  left:0%;
  top:10%;
}

#btnProf, #btnRez, #btnLogOut, #reportPanel, #adminPanel {
    background: #7d060e;
    border: 0px;
    border-bottom: 1px #3a0407; 
    padding: 10px;
    color: white;
    font-family: Calibri;   
    width:100%;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

#btnProf:hover, #btnRez:hover, #btnLogOut:hover, #reportPanel:hover, #adminPanel:hover {
    background: #fff5a4;    
    color: #7d060e;   
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

#btnLogOut {
    background-color: #9f0b15;
    border-bottom: 1px #7d060e;
}

#btnPotvrdi, #btnOdbij {
    background: #c8111e;
    border: 0px;
    padding: 5px;
    color: white;
    font-family: Calibri;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#btnPotvrdi {
    background-color: darkseagreen;
}

#form1 {
     margin-left: 25%;
}

#notificationArea{   
     padding: 5px;
     background-color: #fffdf3;     
}

#resNotifications{
     background-color: #fffdf3;     
}

#loginInfo {
    top: 0%;
    margin-top: 0%;
    margin-bottom: 5%;
    color: white;
    font-family: Calibri;
    font-size: 20px;
}

#lblInfo, #noNewEvents {
    font-family: Calibri;
    color: #c8111e;
}

#info {
    font-family: Calibri;
    font-size: 13px;
    margin:0%;
    margin-top: 5%;
    color: white;
}







