/* Basic elements */

body {
    background: #fff;   
}


/* Img */

#tommy-logo {
    width: 35%;
}


/* Buttons */

#btnLogin {
    background: #c8111e;
    border: 0px;
    padding: 5px;
    color: white;
    font-family: Calibri;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#btnReg {
    background: none;
    text-align: right;
    font-size: 13px;
    font-family: Calibri;
    color: #c8111e;
    border: 0px;
}


/* Content */

#loginForm {
    margin: 10%;
    text-align: center;
}

#login-area, #error-area {
    text-align: center;
}


#cVal1, #rfVal1 {
    color: #c8111e;
}

#valSumm1, #lblInfo {
    font-size: 17px;
    font-family: Calibri;
    color: #c8111e;
}

#lblKIme, #lblPass {
    font-family: Calibri;
    color: #c8111e;

}


/* Input */

#korisnickoIme, #passWord {
    border: 0px;
    -webkit-box-shadow: inset 0 0 5px #808080;
    -webkit-border-radius: 2px;
    -moz-box-shadow: inset 0 0 5px #808080;
    -moz-border-radius: 2px;
    box-shadow: inset 0 0 5px #808080;
    border-radius: 2px;
    padding: 5px;

}