body {
    font-family: Calibri;
    color: black;
}

h1 {
    font-family: Calibri;
    font-style: italic;
    font-size: 40px;
    color: #c8111e;
    font-weight: lighter;
}

h2 {
    font-family: Calibri;
    color: #7d060e;
    font-weight: lighter;
    font-size: 20px;
}

#btnPoc, #btnRez, #btnLogOut, #reportPanel {
    background: #7d060e;
    border: 0px;
    border-bottom: 1px #3a0407; 
    padding: 10px;
    color: white;
    font-family: Calibri;   
    width:100%;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

#btnPoc:hover, #btnRez:hover, #btnLogOut:hover, #reportPanel:hover {
    background: #fff5a4;    
    color: #7d060e;   
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

#btnLogOut {
    background-color: #9f0b15;
    border-bottom: 1px #7d060e;
}


*{
   list-style:none;
   text-decoration:none;
}

.side-content {
    position: fixed;   
    background-color: #c8111e;
    text-align:center;
    padding:0px;
    width:23%;
    height:100%;
    left:0;
    top:0;
    overflow: hidden;
}

.menu{
  width:23%;
  height:0px;
  background-color: #c8111e;
  position:fixed;
  left:0;
  margin-top: 5%;
  border: none;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}

.menu.is-visible{
  width:23%;
  height: 100%;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

#menu-button {
  background: none;
  border: 0px;
  padding: 10px;
  color: white;
  font-family: Calibri;
  width: 10%;
  left:0%;
  top:10%;
}

#tblInfo{
    padding: 2px;
    text-align: left;
    font-family: Calibri;
    color: #c8111e;  
    width: 85%;
}

th {
    color: #c8111e; 
}
td {
    color: black;
}

#form1 {
     margin-left: 25%;
}

button{  
  position: fixed;
}

#GridView1, #GridView2 {
    background-color: #fffdf3;
    font-family: Calibri;
    color: #c8111e;
    padding: 10px;
    text-align:left;

}

h3 {
    font-family: Calibri;
    color: white;
    font-weight: lighter;
    text-align:center;
    font-size: 20px;
}